# Import libraries and load dataset

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [4]:
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

# Preprocessing dataset

In [5]:
answers = {} # dictionary for answers

In [6]:
# New column - profit
data['profit'] = data.revenue - data.budget

# To work with dates
data['release_date'] = pd.to_datetime(data['release_date'])

# New column - release month
data['release_month'] = data.release_date.dt.month

# New column - the number of characters in the title
data['length_title'] = data['original_title'].apply(lambda x: len(x))

# New column - the number of words in the movie description
data['word_count_overview'] = data['overview']\
.str.findall(r"(\w+'*\w*)").str.len()

# Function definition

In [7]:
def gen_df(col_1, col_2, series, func, arg_1='na'):
    '''Creating a DataFrame using the function inside.
    
    Description of the arguments:
    col_1 - name of the first column
    col_2 - name of the second column
    series - a list of items for which the selected function will be applied
    func - an internal function that will be applied to the list of items
    arg_1 - argument of the selected function, default value 'na' - no argument
    
    The function creates a DataFrame with the specified columns, 
    the function places the items from the list (series) 
    in the rows of the first column. To create values in the second column, 
    the internal function (func) is used. When applying the internal function, 
    you can pass an additional argument, if one is provided in the internal 
    function. The function returns the created DataFrame sorted in descending 
    order of the values of the second column.
    '''
    df = pd.concat([pd.DataFrame([item], columns = [col_1]) for item in series],
               ignore_index = True) # DataFrame with a value from a series
    if arg_1 == 'na': # Check if an argument is needed for a function?
        df[col_2] = df[col_1].apply(func) 
    else:
        df[col_2] = df[col_1].apply(func, args = (arg_1,)) # pass one argument
    return df.sort_values(col_2, ascending = False)

def genres_count(genre, all_profit='all'): 
    '''Determining the number of films of one genre.
    
    Description of the arguments:
    all_profit - select filter, all - all films, profit - only paid films
    
    The function sorts all films by genre, and then determines 
    the number of sorted films.
    '''   
    if all_profit == 'all':
        df = data
    else:
        df = data[data['profit'] > 0]
    count = len(df[df['genres'].str.contains(genre, na = False)])
    return count

def count_director_genre(director, genre):
    '''Determining the number of films made by a director in one genre.
    
    The function sorts the dataset by director and genre,
    then counts the number of sorted films.
    '''
    count = len(data[(data.director.str.contains(director, na = False)) &
              (data.genres.str.contains(genre, na = False))])
    return count

def actor_revenue_year(actor, year):
    '''Counting box office movies with the actor in the selected year.
    
    The function sorts the dataset by actor and year, then sums up all 
    the box office grossing of films and gives this value.
    '''
    revenue = data[(data.cast.str.contains(actor, na = False)) &\
               (data.release_year == year)].revenue.sum()
    return revenue

def actor_high_budget(actor):
    '''Counting box office movies with the actor in the selected year.
    
    The function sorts the dataset by actor and year, 
    then sums up all the box office grossing of films and gives this value.
    '''
    count = len(data[(data.cast.str.contains(actor, na = False)) &\
               (data.budget > data.budget.mean())])
    return count

def genre_actor(genre, actor):
    '''Counting the number of films of one genre in which the actor starred.
    
    The function sorts the dataset by actor and genre, 
    then returns the value of the number of sorted films.
    '''
    count = len(data[(data.cast.str.contains(actor, na = False)) &\
                  (data.genres.str.contains(genre, na = False))])
    return count

def director_season(director, season):
    '''Counting the number of films of one director for the selected season.
    
    The function sorts the dataset by the month the movie was released and 
    to the director, then it gives the value of the number of sorted films.
    '''
    count = len(data[(data.release_month.isin(season)) &\
                  (data.director == director)])
    return count

def mean_length_titles(studio):
    '''Calculating the average length of studio movie titles.
    
    The function sorts the dataset by the studio that released the film, 
    then it gives the average value of the number of characters 
    in the name of the film.
    '''
    length = data[data['production_companies']\
                  .str.contains(studio, na = False)].length_title.mean()
    return round(length, 2)

def mean_overview(studio):
    ''' The average number of words in the description of the studio films.
    
    The function sorts the dataset by the studio that released the movie, 
    then it gives the average value of the number of words in the movie 
    description.
    '''
    mean = data[data['production_companies'].str.contains(studio, na = False)]\
    ['word_count_overview'].mean()
    return round(mean, 2)

def best_movie_percent(movies, percent):
    '''Determines if the movie list is in the percentage of the best films.
    
    First, the function sorts the dataset according to the selected percentage 
    of the best films presented in the dataset by the film rating. Then, 
    the function splits the list of films passed to it into individual films, 
    and checks each film to see if it is included in the sorted dataset. 
    At the end, the function returns True if the entire list of films includes 
    the percentage of the best, or False if at least one movie from the list 
    is not included in the percentage of the best.
    '''
    mark = True
    df_in = data[data['vote_average'] >= data['vote_average']\
                 .quantile(1 - percent/100)]
    scroll = movies.split(', ')
    for pic in scroll:
        marker = len(df_in[df_in['original_title']\
                           .str.contains(pic, na = False)])
        if marker == 1:
            marker = True
        else:
            marker = False
        mark = mark and marker
    return mark

def couple_actors(couple):
    '''Number of films where a couple of actors starred.
    
    The function sorts the dataset into films in which there is a given 
    pair of actors, then it counts the number of sorted films.
    '''
    actors = couple.split(' & ')
    count = len(data[(data['cast'].str.contains(actors[0], na = False)) &
                   (data['cast'].str.contains(actors[1], na = False))])
    return count

# Answers on questions

## 1. У какого фильма из списка самый большой бюджет?

In [8]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # True

In [9]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,length_title,word_count_overview
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5,43,74

## 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
answers['2'] = 'Gods and Generals (tt0279111)' # True

In [11]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,length_title,word_count_overview
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2,17,48

## 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # True

In [13]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,length_title,word_count_overview
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4,15,52

## 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '110' # True

In [15]:
round(data.runtime.mean())

110

## 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '107' # True

In [17]:
round(data.runtime.median())

107

## 6. Какой самый прибыльный фильм?

In [18]:
answers['6'] = 'Avatar (tt0499549)' # True

In [19]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,length_title,word_count_overview
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12,6,28

## 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = 'The Lone Ranger (tt1210819)' # False

In [21]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,length_title,word_count_overview
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15,68

In [69]:
data[data['imdb_id'] == 'tt0180052'] # True - but i don't agree

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,length_title,word_count_overview
958,tt0180052,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,2002-08-15,4.6,2002,-92896027,8,28,106

## 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1478' # True

In [23]:
len(data[data.profit > 0])

1478

## 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = 'The Dark Knight (tt0468569)' # True

In [25]:
data[data.release_year == 2008].sort_values('revenue', ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,length_title,word_count_overview
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15,67

## 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = 'The Lone Ranger (tt1210819)' # True

In [27]:
data.query('2012 <= release_year <= 2014').sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,length_title,word_count_overview
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15,68

## 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = 'Drama' # True

In [29]:
genres = 'Drama, Comedy, Action, Thriller, Adventure'.split(', ')

gen_df('genre', 'count', genres, genres_count, 'all')

       genre  count
0      Drama    782
1     Comedy    683
3   Thriller    596
2     Action    582
4  Adventure    415

## 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = 'Drama' # True

In [31]:
genres = 'Drama, Comedy, Action, Thriller, Adventure'.split(', ')

gen_df('genre', 'count', genres, genres_count, 'profit')

       genre  count
0      Drama    560
1     Comedy    551
3   Thriller    446
2     Action    444
4  Adventure    337

## 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
answers['13'] = 'Peter Jackson' # True

In [33]:
directors = ["Steven Spielberg",
            "Christopher Nolan",
            "David Yates",
            "James Cameron",
            "Peter Jackson"
            ]

data[data['director'].isin(directors)].groupby('director').agg('sum')\
.sort_values('revenue', ascending = False)

,budget,revenue,runtime,vote_average,release_year,profit,release_month,length_title,word_count_overview
director,,,,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685,95,265,367
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502,63,97,387
David Yates,775000000,4154295625,567,29.6,8037,3379295625,30,167,178
Steven Spielberg,937000000,3386700791,1356,66.9,20064,2449700791,85,195,632
James Cameron,250000000,2798546718,254,13.8,4012,2548546718,16,25,90

## 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers['14'] = 'Robert Rodriguez' # True

In [35]:
directors = ["Ridley Scott",
             "Guy Ritchie",
             "Robert Rodriguez",
             "Quentin Tarantino",
             "Tony Scott"
            ]

gen_df('director', 'Action', directors, count_director_genre, 'Action')

            director  Action
2   Robert Rodriguez       9
0       Ridley Scott       6
3  Quentin Tarantino       5
4         Tony Scott       5
1        Guy Ritchie       4

## 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers['15'] = 'Chris Hemsworth' # True

In [37]:
actors = 'Nicolas Cage, Tom Hardy, Chris Hemsworth, Jim Sturgess, Emma Stone'\
.split(', ')

gen_df('actor', 'revenue', actors, actor_revenue_year, 2012)

             actor     revenue
2  Chris Hemsworth  2027450773
1        Tom Hardy  1134717867
4       Emma Stone   752215857
3     Jim Sturgess   138589343
0     Nicolas Cage     2106557

## 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = 'Matt Damon' # True

In [39]:
actors = 'Tom Cruise, Mark Wahlberg, Matt Damon, Angelina Jolie, Adam Sandler'\
.split(', ')

gen_df('actor', 'count', actors, actor_high_budget, 'na')

            actor  count
2      Matt Damon     18
4    Adam Sandler     17
3  Angelina Jolie     16
0      Tom Cruise     15
1   Mark Wahlberg     14

## 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
answers['17'] = 'Action' # True

In [41]:
genres = 'Drama, Action, Thriller, Adventure, Crime'.split(', ')

gen_df('genre', 'count_Cage', genres, genre_actor, 'Nicolas Cage')

       genre  count_Cage
1     Action          17
2   Thriller          15
0      Drama          12
4      Crime          10
3  Adventure           7

## 18. Самый убыточный фильм от Paramount Pictures

In [42]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # True

In [43]:
data[data.production_companies.str.contains("Paramount Pictures", na = False)]\
.sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,length_title,word_count_overview
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,7,20,23

## 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
answers['19'] = '2015' # True

In [45]:
years = [2002, 2008, 2012, 2014, 2015]

data[data['release_year'].isin(years)].groupby('release_year').agg('sum')\
.sort_values('revenue', ascending = False)

,budget,revenue,runtime,vote_average,profit,release_month,length_title,word_count_overview
release_year,,,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,842,1601,5616
2014,7008050000,23405862953,13444,774.5,16397812953,854,1864,6454
2012,7002000000,23079001687,12145,682.1,16077001687,724,1684,6037
2008,6588900000,18252781990,12979,731.1,11663881990,847,1862,6562
2002,5134000000,14136361487,11528,653.1,9002361487,751,1535,6106

## 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
answers['20'] = '2014' # True

In [47]:
years = [2008, 2010, 2012, 2014, 2015]

data[(data['release_year'].isin(years)) &\
     (data.production_companies.str.contains('Warner Bros', na = False))]\
.groupby('release_year').agg('sum').sort_values('profit', ascending = False)

,budget,revenue,runtime,vote_average,profit,release_month,length_title,word_count_overview
release_year,,,,,,,,
2014,947600000,3243064519,1576,88.9,2295464519,89,176,681
2008,916000000,3050595031,1366,72.0,2134595031,81,149,520
2010,1034000000,3008712985,1421,79.6,1974712985,92,201,886
2012,611500000,1869520056,579,30.0,1258020056,33,70,279
2015,820800003,1691168351,1358,75.9,870368348,82,137,621

## 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
answers['21'] = 'september' # True

In [49]:
months = [1, 5, 6, 9, 12]

data[data.release_month.isin(months)].groupby(by = 'release_month')\
['imdb_id'].count()

release_month
1     110
5     140
6     147
9     227
12    190
Name: imdb_id, dtype: int64

## 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
answers['22'] = '450' # True

In [51]:
season = [6, 7, 8]

len(data[data.release_month.isin(season)])

450

## 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
answers['23'] = 'Clint Eastwood' # True

In [53]:
directors = ["Steven Soderbergh",
             "Christopher Nolan",
             "Clint Eastwood",
             "Ridley Scott",
             "Peter Jackson"
            ]
winter = [10, 11, 12]

gen_df('director', 'winter', directors, director_season, winter)

            director  winter
2     Clint Eastwood       9
4      Peter Jackson       8
0  Steven Soderbergh       5
3       Ridley Scott       5
1  Christopher Nolan       3

## 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
answers['24'] = 'Four By Two Productions' # True

In [55]:
studios = ["Universal",
           "Warner Bros",
           "Jim Henson Company, The",
           "Paramount Pictures",
           "Four By Two Productions"
          ]

gen_df('company', 'lenght_title', studios, mean_length_titles, 'na')

                   company  lenght_title
4  Four By Two Productions         83.00
2  Jim Henson Company, The         59.00
3       Paramount Pictures         17.03
1              Warner Bros         15.25
0                Universal         14.76

## 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers['25'] = 'Midnight Picture Show' # True

In [73]:
studios = ["Universal Pictures",
           "Warner Bros",
           "Midnight Picture Show",
           "Paramount Pictures",
           "Total Entertainment"
          ]

gen_df('company', 'mean_overview', studios, mean_overview, 'na')

                 company  mean_overview
2  Midnight Picture Show         175.00
4    Total Entertainment          87.00
3     Paramount Pictures          56.07
1            Warner Bros          54.99
0     Universal Pictures          54.70

## 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [58]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # True

In [59]:
movie_list = ["Inside Out, The Dark Knight, 12 Years a Slave",
             "BloodRayne, The Adventures of Rocky & Bullwinkle",
             "Batman Begins, The Lord of the Rings: The Return of the King, Upside Down",
             "300, Lucky Number Slevin, Kill Bill: Vol. 1",
             "Upside Down, Inside Out, Iron Man"
             ]

gen_df('movie_list', 'in?', movie_list, best_movie_percent, 1)

                                          movie_list    in?
0      Inside Out, The Dark Knight, 12 Years a Slave   True
1   BloodRayne, The Adventures of Rocky & Bullwinkle  False
2  Batman Begins, The Lord of the Rings: The Retu...  False
3        300, Lucky Number Slevin, Kill Bill: Vol. 1  False
4                  Upside Down, Inside Out, Iron Man  False

## 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # True

In [61]:
two_actors = ["Johnny Depp & Helena Bonham Carter",
         "Ben Stiller & Owen Wilson",
         "Vin Diesel & Paul Walker",
         "Adam Sandler & Kevin James",
         "Daniel Radcliffe & Rupert Grint"
         ]

gen_df('couple_actors', 'count', two_actors, couple_actors, 'na')

                        couple_actors  count
4     Daniel Radcliffe & Rupert Grint      8
0  Johnny Depp & Helena Bonham Carter      6
1           Ben Stiller & Owen Wilson      6
2            Vin Diesel & Paul Walker      5
3          Adam Sandler & Kevin James      5

# Submission

In [62]:
# View a dictionary with answers
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'september',
 '22': '450',
 '23': 'Clint Eastwood',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}