# Импорт библиотек и датасета

In [202]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [203]:
data = pd.read_csv('data.csv')

# Предобработка датасета

In [27]:
answer_ls = [] # список с ответами

In [277]:
data['profit'] = data.revenue - data.budget # колонка - прибыль
data['release_date'] = pd.to_datetime(data['release_date']) # для работы с датами
data['release_month'] = data.release_date.dt.month # колонка - месяц выхода
data['length_title'] = data['original_title'].apply(lambda x: len(x)) # колонка - длина названия
data['word_count_title'] = data['original_title'].str.findall(r'(\w+)').str.len() # колонка - кол-во слов в названии
data['word_title'] = data['original_title'].str.findall(r'(\w+)') # колонка - слова в названии
#data['word_title_low'] = data['word_title'].apply(lambda x: str(x).lower()) # колонка - слова в названии с мал. буквы
#data.drop(['word_title_low'], axis = 1, inplace = True)

In [278]:
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,vote_count,vote_average,release_year,profit,release_month,lenght_title,length_title,word_count,word_title,word_count_title
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,...,5562,6.5,2015,1363528810,6,14,14,2,"[Jurassic, World]",2
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,...,6185,7.1,2015,228436354,5,18,18,4,"[Mad, Max, Fury, Road]",4
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,...,2480,6.3,2015,185238201,3,9,9,1,[Insurgent],1
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,...,5292,7.5,2015,1868178225,12,28,28,5,"[Star, Wars, The, Force, Awakens]",5
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,...,2947,7.3,2015,1316249360,4,9,9,2,"[Furious, 7]",2

In [283]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   datetime64[ns]
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
 16  profit                1890 non-null   int64
 17  release_month         1890 non-null   int64
 18  lenght_title          1890 non-null   int64
 19  length_title          1890 non-null   int64
 20  word_count            1890 non-null   int64
 21  word_title            1890 non-null   object
 22  word_count_title      1890 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(11), object(9)
memory usage: 339.7+ KB

# Ответы на вопросы

## 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
data[data.budget == data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,2010-12-02,74,6.4,2010,-413912431

In [26]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [29]:
data[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [30]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [31]:
data[data.runtime == data.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [ ]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [37]:
print(round(data.runtime.mean()))

110

In [ ]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [38]:
print(round(data.runtime.median()))

106

In [ ]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [44]:
data[data.profit == data.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [ ]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [45]:
data[data.profit == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [ ]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [48]:
len(data[data.profit > 0])

1478

In [ ]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [66]:
data[data.release_year == 2008].sort_values('profit', ascending = False).head(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8432,8.1,2008,816921825

In [ ]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [8]:
data.query('2012 <= release_year <= 2014').sort_values('profit').head(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,1607,6.0,2013,-165710090

In [ ]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [82]:
print('Action', len(data[data.genres.str.contains('Action', na = False)]))
print('Adventure', len(data[data.genres.str.contains('Adventure', na = False)]))
print('Drama', len(data[data.genres.str.contains('Drama', na = False)]))
print('Comedy', len(data[data.genres.str.contains('Comedy', na = False)]))
print('Thriller', len(data[data.genres.str.contains('Thriller', na = False)]))

Action 583
Adventure 416
Drama 782
Comedy 683
Thriller 597

In [ ]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [27]:
data_profit = data[data.profit > 0]
genres = 'Drama, Comedy, Action, Thriller, Adventure'.split(', ')

def genres_count(df, genre):
    count = len(df[df['genres'].str.contains(genre, na = False)])
    return print(genre, count)

for genre in genres:
    genres_count(data_profit, genre)

Drama 560
Comedy 551
Action 444
Thriller 446
Adventure 337

In [ ]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [33]:
data.director.describe(include = ['O'])

count                  1890
unique                  958
top       Steven Soderbergh
freq                     13
Name: director, dtype: object

In [ ]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [32]:
data_profit.director.describe(include = ['O'])

count             1478
unique             774
top       Ridley Scott
freq                12
Name: director, dtype: object

In [ ]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [47]:
data[data['director'].isin(['Steven Spielberg', 'Christopher Nolan', \
                            'David Yates', 'James Cameron', \
                            'Peter Jackson'])].groupby('director').agg('sum')\
.sort_values('profit', ascending = False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
director,,,,,,,,
Peter Jackson,45.679675,1288000000,6490593685,1355,31197,58.1,16059,5202593685
David Yates,20.506537,775000000,4154295625,567,13819,29.6,8037,3379295625
Christopher Nolan,61.560756,1005000000,4167548502,1135,41561,61.1,16057,3162548502
James Cameron,9.686149,250000000,2798546718,254,8481,13.8,4012,2548546718
Steven Spielberg,23.081698,937000000,3386700791,1356,12990,66.9,20064,2449700791

In [ ]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [78]:
data[data.cast.str.contains('Emma Watson', na = False)]
actors = 'Emma Watson, Johnny Depp, Michelle Rodriguez, Orlando Bloom, Rupert Grint'\
.split(', ')

def actor_profit(df, actor):
    profit = df[df.cast.str.contains(actor, na = False)].profit.sum()
    return print(profit, actor)


for actor in actors:
    actor_profit(data, actor)

6666245597 Emma Watson
4776417000 Johnny Depp
4608031235 Michelle Rodriguez
5148578162 Orlando Bloom
6408638290 Rupert Grint

In [ ]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [119]:
actors = 'Nicolas Cage, Danny Huston, Kirsten Dunst, Jim Sturgess, Sami Gayle'\
.split(', ')

def actor_profit_2012(df, actor):
    profit = df[(df.cast.str.contains(actor, na = False)) &\
               (df.release_year == 2012)].profit.sum()
    return print(profit, actor)

for actor in actors:
    actor_profit_2012(data, actor)

-32893443 Nicolas Cage
-32893443 Danny Huston
-68109207 Kirsten Dunst
-23410657 Jim Sturgess
-32893443 Sami Gayle

In [ ]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [122]:
actors = 'Tom Cruise, Mark Wahlberg, Matt Damon, Angelina Jolie, Adam Sandler'\
.split(', ')
actors_profit = []

def actor_high_budget(df, actor):
    count = len(df[(df.cast.str.contains(actor, na = False)) &\
               (df.budget > df.budget.mean())])
    return print(count, actor)

for actor in actors:
    actor_high_budget(data, actor)

15 Tom Cruise
14 Mark Wahlberg
18 Matt Damon
16 Angelina Jolie
17 Adam Sandler

In [ ]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [127]:
genres = 'Drama, Action, Thriller, Adventure, Crime'.split(', ')

def genre_Cage(df, genre):
    count = len(df[(df.cast.str.contains('Nicolas Cage', na = False)) &\
                  (df.genres.str.contains(genre, na = False))])
    return print(count, genre)


for genre in genres:
    genre_Cage(data, genre)

12 Drama
17 Action
15 Thriller
7 Adventure
10 Crime

In [ ]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [142]:
studios = ["Universal",
          "Paramount Pictures",
           "Columbia Pictures",
           "Warner Bros",
           "Twentieth Century Fox Film Corporation"
          ]

def count_studio(df, studio):
    count = len(df[df.production_companies.str.contains(studio, na = False)])
    print(count, studio)


for studio in studios:
    count_studio(data, studio)

185 Universal
122 Paramount Pictures
163 Columbia Pictures
183 Warner Bros
109 Twentieth Century Fox Film Corporation

In [ ]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [143]:
studios = ["Universal Pictures",
          "Paramount Pictures",
           "Columbia Pictures",
           "Warner Bros",
           "Twentieth Century Fox Film Corporation"
          ]

def studios_2015(df, studio):
    count = len(df[(df.production_companies.str.contains(studio, na = False)) \
              & (df.release_year == 2015)])
    return print(count, studio)


for studio in studios:
    studios_2015(data, studio)

11 Universal Pictures
7 Paramount Pictures
7 Columbia Pictures
12 Warner Bros
8 Twentieth Century Fox Film Corporation

In [ ]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [148]:
studios = ["Universal",
          "Paramount Pictures",
           "Columbia Pictures",
           "Warner Bros",
           "Walt Disney"
          ]

def studio_comedy_profit(df, studio):
    profit = df[(df.production_companies.str.contains(studio, na = False))\
               & (df.genres.str.contains('Comedy', na = False))].profit.sum()
    return print(profit/10**6, studio)


for studio in studios:
    studio_comedy_profit(data, studio)

9130.349034 Universal
3055.625722 Paramount Pictures
7161.805266 Columbia Pictures
4370.928916 Warner Bros
7975.933215 Walt Disney

In [ ]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [149]:
studios = ["Universal",
          "Paramount Pictures",
           "Columbia Pictures",
           "Warner Bros",
           "Lucasfilm"
          ]

def studio_profit_2012(df, studio):
    profit = df[(df.production_companies.str.contains(studio, na = False))\
               & (df.release_year == 2012)].profit.sum()
    return print(profit/10**6, studio)


for studio in studios:
    studio_profit_2012(data, studio)

1981.011579 Universal
410.726715 Paramount Pictures
2501.406608 Columbia Pictures
1258.020056 Warner Bros
-7.634623 Lucasfilm

In [ ]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [157]:
data[data.production_companies.str.contains("Paramount Pictures", na = False)]\
.sort_values('profit').head(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,146,6.0,2002,-64831034

In [ ]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [160]:
data[data['release_year'].isin([2014, 2008, 2012, 2002, 2015])]\
.groupby('release_year').agg('sum').sort_values('profit', ascending = False)

,popularity,budget,revenue,runtime,vote_count,vote_average,profit
release_year,,,,,,,
2015,412.757717,6780630004,25449202382,13355,143377,755.2,18668572378
2014,374.517350,7008050000,23405862953,13444,155491,774.5,16397812953
2012,194.340559,7002000000,23079001687,12145,150430,682.1,16077001687
2008,158.907759,6588900000,18252781990,12979,84574,731.1,11663881990
2002,127.017597,5134000000,14136361487,11528,54743,653.1,9002361487

In [ ]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [165]:
data[(data['release_year'].isin([2014, 2008, 2012, 2010, 2015])) & 
      (data.production_companies.str.contains('Warner Bros', na = False))]\
.groupby('release_year').agg('sum').sort_values('profit', ascending = False)

,popularity,budget,revenue,runtime,vote_count,vote_average,profit
release_year,,,,,,,
2014,63.903623,947600000,3243064519,1576,24855,88.9,2295464519
2008,23.986384,916000000,3050595031,1366,17455,72.0,2134595031
2010,26.441327,1034000000,3008712985,1421,20286,79.6,1974712985
2012,12.593044,611500000,1869520056,579,11729,30.0,1258020056
2015,30.133961,820800003,1691168351,1358,11574,75.9,870368348

In [ ]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [190]:
data[data.release_month.isin([1, 5, 6, 9, 12])].groupby(by = 'release_month')\
['imdb_id'].count()

release_month
1     110
5     140
6     147
9     227
12    191
Name: imdb_id, dtype: int64

In [ ]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [192]:
len(data[data.release_month.isin([6, 7, 8])])

450

In [ ]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [195]:
directors = ["Steven Soderbergh",
             "Christopher Nolan",
             "Clint Eastwood",
             "Ridley Scott",
             "Peter Jackson"
            ]

def winter_director(df, director):
    count = len(df[(df.release_month.isin([10, 11, 12])) &\
                  (df.director == director)])
    return print(count, director)


for director in directors:
    winter_director(data, director)

5 Steven Soderbergh
3 Christopher Nolan
9 Clint Eastwood
5 Ridley Scott
8 Peter Jackson

In [ ]:
answer_ls.append(3)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [198]:
data[data.release_month.isin([1, 5, 6, 9, 12])].groupby('release_month')\
.agg('sum').sort_values('profit', ascending = False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
release_month,,,,,,,,
6,284.103375,11871700000,39422962500,16092,171386,893.6,295091,27551262500
12,336.434496,12222800000,38785871474,23048,173700,1212.8,383400,26563071474
5,286.094123,11358600531,36398116672,15927,163287,883.1,281139,25039516141
9,270.547870,7309800000,18188721041,24652,124971,1433.2,455925,10878921041
1,151.252935,3923500000,9320385454,11292,63453,642.3,220988,5396885454

In [ ]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [238]:
studios = ["Universal",
           "Warner Bros",
           "Jim Henson Company, The",
           "Paramount Pictures",
           "Four By Two Productions"]

def mean_length_titles(df, studio):
    length = df[df['production_companies'].str.contains(studio, na = False)]\
    .length_title.mean()
    return print(round(length, 2), studio)


for studio in studios:
    mean_length_titles(data, studio)

14.76 Universal
15.25 Warner Bros
59.0 Jim Henson Company, The
17.03 Paramount Pictures
83.0 Four By Two Productions

In [ ]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [280]:
studios = ["Universal",
           "Warner Bros",
           "Jim Henson Company, The",
           "Paramount Pictures",
           "Four By Two Productions"]

def mean_word_count_titles(df, studio):
    word_count = df[df['production_companies'].str.contains(studio, na = False)]\
    .word_count_title.mean()
    return print(round(word_count, 2), studio)


for studio in studios:
    mean_word_count_titles(data, studio)

2.66 Universal
2.8 Warner Bros
10.0 Jim Henson Company, The
2.86 Paramount Pictures
12.0 Four By Two Productions

In [ ]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [282]:
data['word_title'].unique()

TypeError: unhashable type: 'list'

In [ ]:
answer_ls.append(1)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [ ]:
answer_ls.append(1)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
answer_ls.append(1)

# Submission

In [6]:
len(answer_ls)

0

In [5]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []