# Импорт библиотек и датасета

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [154]:
data = pd.read_csv('data.csv')

# Предобработка датасета

In [27]:
answer_ls = [] # список с ответами

In [149]:
data['profit'] = data.revenue - data.budget # колонка - прибыль
data['release_date'] = pd.to_datetime(data['release_date']) # для работы с датами
data['release_month'] = data.release_date.dt.month # колонка - месяц выхода
data['length_title'] = data['original_title'].apply(lambda x: len(x)) # колонка - длина названия
data['word_count_title'] = data['original_title'].str.findall(r"(\w+'*\w*)").str.len() # колонка - кол-во слов в названии
data['word_title'] = data['original_title'].str.findall(r"(\w+'*\w*)") # колонка - слова в названии
data['word_title2'] = data['original_title'].str.split(' ')

In [141]:
data.sample(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,release_date,vote_count,vote_average,release_year,profit,release_month,length_title,word_count_title,word_title,word_title2
743,tt1133985,2.419805,200000000,219851172,Green Lantern,Ryan Reynolds|Blake Lively|Peter Sarsgaard|Tim...,Martin Campbell,"In our darkest hour, there will be light.","For centuries, a small but powerful force of w...",114,...,2011-06-16,1654,5.1,2011,19851172,6,13,2,"[Green, Lantern]","[Green, Lantern]"

In [152]:
data[data['original_title'].str.contains("&")]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,release_date,vote_count,vote_average,release_year,profit,release_month,length_title,word_count_title,word_title,word_title2
186,tt0864835,1.894706,145000000,272912430,Mr. Peabody & Sherman,Ty Burrell|Max Charles|Ariel Winter|Allison Ja...,Rob Minkoff,He's Leaving His Mark On History,"A young boy and his dog, who happens to have a...",92,...,2014-02-07,592,6.8,2014,127912430,2,21,3,"[Mr, Peabody, Sherman]","[Mr., Peabody, &, Sherman]"
203,tt2980706,1.240895,50000000,151165787,Planes: Fire & Rescue,Dane Cook|Ed Harris|Julie Bowen|Curtis Armstro...,Roberts Gannaway,"When others fly out, heroes fly in.",When world-famous air racer Dusty learns that ...,83,...,2014-07-17,223,5.9,2014,101165787,7,21,3,"[Planes, Fire, Rescue]","[Planes:, Fire, &, Rescue]"
253,tt0808151,2.841562,150000000,356613439,Angels & Demons,Tom Hanks|Ewan McGregor|Ayelet Zurer|Stellan S...,Ron Howard,The holiest event of our time. Perfect for the...,Harvard symbologist Robert Langdon investigate...,138,...,2009-05-13,1275,6.3,2009,206613439,5,15,2,"[Angels, Demons]","[Angels, &, Demons]"
288,tt1135503,1.149370,40000000,129540499,Julie & Julia,Meryl Streep|Amy Adams|Stanley Tucci|Chris Mes...,Nora Ephron,Based on Two True Stories,Julia Child and Julie Powell â€“ both of whom ...,123,...,2009-08-06,341,6.5,2009,89540499,8,13,2,"[Julie, Julia]","[Julie, &, Julia]"
338,tt1013752,0.580292,85000000,363164265,Fast & Furious,Vin Diesel|Paul Walker|Jordana Brewster|Michel...,Justin Lin,New Model. Original Parts.,"When a crime brings them back to L.A., fugitiv...",107,...,2009-04-02,1661,6.4,2009,278164265,4,14,2,"[Fast, Furious]","[Fast, &, Furious]"
397,tt0814255,1.878018,95000000,226497209,Percy Jackson & the Olympians: The Lightning T...,Logan Lerman|Brandon T. Jackson|Alexandra Dadd...,Chris Columbus,Worlds Collide,"Accident prone teenager, Percy discovers he's ...",118,...,2010-02-01,1175,6.0,2010,131497209,2,50,7,"[Percy, Jackson, the, Olympians, The, Lightnin...","[Percy, Jackson, &, the, Olympians:, The, Ligh..."
414,tt0758752,1.365279,30000000,102820008,Love & Other Drugs,Jake Gyllenhaal|Anne Hathaway|Oliver Platt|Han...,Edward Zwick,Addicted to one-night stands or dependent on o...,"Maggie, an alluring free spirit who won't let ...",112,...,2010-11-22,756,6.5,2010,72820008,11,18,3,"[Love, Other, Drugs]","[Love, &, Other, Drugs]"
466,tt1287468,0.655878,85000000,112483764,Cats & Dogs 2 : The Revenge of Kitty Galore,James Marsden|Nick Nolte|Christina Applegate|B...,Brad Peyton,Just like real spies... only furrier.,The ongoing war between the canine and feline ...,82,...,2010-07-30,60,5.0,2010,27483764,7,43,8,"[Cats, Dogs, 2, The, Revenge, of, Kitty, Galore]","[Cats, &, Dogs, 2, :, The, Revenge, of, Kitty,..."
492,tt1320239,0.246578,10000000,4349187,Burke & Hare,Simon Pegg|Andy Serkis|Isla Fisher|Tom Wilkins...,John Landis,No Job Too Small. No Body Too Big. No Question...,"Two 19th-century opportunists (Simon Pegg, And...",91,...,2010-10-29,75,6.0,2010,-5650813,10,12,2,"[Burke, Hare]","[Burke, &, Hare]"
529,tt0239395,1.134012,60000000,93375151,Cats & Dogs,Jeff Goldblum|Elizabeth Perkins|Alexander Poll...,Lawrence Guterman,Things Are Gonna Get Hairy!,When a professor develops a vaccine that elimi...,87,...,2001-07-04,182,5.0,2001,33375151,7,11,2,"[Cats, Dogs]","[Cats, &, Dogs]"
596,tt0186589,0.263210,11000000,13276953,Sugar & Spice,Marla Sokoloff|Marley Shelton|Melissa George|M...,Francine McDougall,Why would the most popular girl in school wear...,When Jack (James Marsden) and Diane (Marley Sh...,81,...,2001-01-24,31,5.4,2001,2276953,1,13,2,"[Sugar, Spice]","[Sugar, &, Spice]"
639,tt0822832,1.462242,60000000,244082376,Marley & Me,Owen Wilson|Jennifer Aniston|Eric Dane|Kathlee...,David Frankel,Heel the love,"A newly married couple who, in the process of ...",115,...,2008-12-25,820,6.8,2008,184082376,12,11,2,"[Marley, Me]","[Marley, &, Me]"
662,tt0481536,1.013770,12000000,43493123,Harold & Kumar Escape from Guantanamo Bay,John Cho|Kal Penn|Neil Patrick Harris|Rob Cord...,Jon Hurwitz|Hayden Schlossberg,This time they're running from the joint.,"Having satisfied their urge for White Castle, ...",107,...,2008-04-25,317,6.0,2008,31493123,4,41,6,"[Harold, Kumar, Escape, from, Guantanamo, Bay]","[Harold, &, Kumar, Escape, from, Guantanamo, Bay]"
719,tt0455538,0.659884,27000000,17286299,How to Lose Friends & Alienate People,Kelan Pannell|Janette Scott|Simon Pegg|Megan F...,Robert B. Weide,"He's across the pond, and out of his depth.",A British writer struggles to fit in at a high...,110,...,2008-10-02,106,6.0,2008,-9713701,10,37,6,"[How, to, Lose, Friends, Alienate, People]","[How, to, Lose, Friends, &, Alienate, People]"
758,tt0409847,1.640256,163000000,174822325,Cowboys & Aliens,Daniel Craig|Olivia Wilde|Harrison Ford|Sam Ro...,Jon Favreau,First Contact. Last Stand.,A stranger stumbles into the desert town of Ab...,119,...,2011-07-29,1363,5.4,2011,11822325,7,16,2,"[Cowboys, Aliens]","[Cowboys, &, Aliens]"
801,tt1268799,1.024786,19000000,35387212,A Very Harold & Kumar Christmas,Neil Patrick Harris|John Cho|Elias Koteas|Dann...,Todd Strauss-Schulson,Christmas comes prematurely.,"Six years have elapsed since Guantanamo Bay, l...",108,...,2011-11-04,186,6.0,2011,16387212,11,31,5,"[A, Very, Harold, Kumar, Christmas]","[A, Very, Harold, &, Kumar, Christmas]"
813,tt0477302,0.907952,40000000,55247881,Extremely Loud & Incredibly Close,Thomas Horn|Tom Hanks|Sandra Bullock|Max von S...,Stephen Daldry,"This is not a story about September 11th, it's...","A year after his father's death, Oskar, a trou...",129,...,2011-12-24,463,7.0,2011,15247881,12,33,4,"[Extremely, Loud, Incredibly, Close]","[Extremely, Loud, &, Incredibly, Close]"
819,tt0377981,0.827785,36000000,189712432,Gnomeo & Juliet,James McAvoy|Michael Caine|Maggie Smith|Julie ...,Kelly Asbury,A little adventure goes a lawn way.,"A version of Shakespeare's play, set in the wo...",84,...,2011-01-13,335,5.7,2011,153712432,1,15,2,"[Gnomeo, Juliet]","[Gnomeo, &, Juliet]"
875,tt0275847,2.095296,80000000,145771527,Lilo & Stitch,Chris Sanders|Daveigh Chase|Tia Carrere|David ...,Dean DeBlois|Chris Sanders,He's coming to our galaxy.,A lonely Hawaiian girl named Lilo is being rai...,85,...,2002-06-21,681,6.9,2002,65771527,6,13,2,"[Lilo, Stitch]","[Lilo, &, Stitch]"
1122,tt0333780,1.118671,45000000,124914842,"Legally Blonde 2: Red, White & Blonde",Reese Witherspoon|Sally Field|Regina King|Jenn...,Charles Herman-Wurmfeld,Bigger. Bolder. Blonder.,"After Elle Woods, the eternally perky, fashion...",95,...,2003-07-02,235,5.2,2003,79914842,7,37,6,"[Legally, Blonde, 2, Red, White, Blonde]","[Legally, Blonde, 2:, Red,, White, &, Blonde]"
1175,tt0318283,0.143004,30000000,15368897,Alex & Emma,Luke Wilson|Kate Hudson|Sophie Marceau|David P...,Rob Reiner,Is it love... or are they just imagining things?,Writer Alex Sheldon (Luke Wilson) must finish ...,96,...,2003-06-16,43,5.0,2003,-14631103,6,11,2,"[Alex, Emma]","[Alex, &, Emma]"
1209,tt1428538,1.921070,50000000,224803475,Hansel & Gretel: Witch Hunters,Jeremy Renner|Gemma Arterton|Famke Janssen|Pih...,Tommy Wirkola,Classic tale. New twist.,"After getting a taste for blood as children, H...",88,...,2013-01-17,2564,5.7,2013,174803475,1,30,4,"[Hansel, Gretel, Witch, Hunters]","[Hansel, &, Gretel:, Witch, Hunters]"
1256,tt1980209,1.075570,25000000,86175291,Pain & Gain,Mark Wahlberg|Dwayne Johnson|Anthony Mackie|To...,Michael Bay,Their American dream is bigger than yours.,"Danny Lupo, manager of the Sun Gym in 1990s Mi...",130,...,2013-04-18,1143,6.1,2013,61175291,4,11,2,"[Pain, Gain]","[Pain, &, Gain]"
1263,tt1711425,1.010837,13000000,48065672,21 & Over,Miles Teller|Skylar Astin|Justin Chon|Sarah Wr...,Scott Moore|Jon Lucas,Finally.,Brilliant student Jeff Chang has the most impo...,93,...,2013-03-01,594,5.7,2013,35065672,3,9,2,"[21, Over]","[21, &, Over]"
1298,tt1905041,0.522347,160000000,788679850,Fast & Furious 6,Paul Walker|Vin Diesel|Dwayne Johnson|Jordana ...,Justin Lin,All roads lead to this,Hobbs has Dominic and Brian reassemble their c...,130,...,2013-05-06,4368,6.6,2013,628679850,5,16,3,"[Fast, Furious, 6]","[Fast, &, Furious, 6]"
1340,tt0414387,1.480854,28000000,121147947,Pride & Prejudice,Keira Knightley|Matthew Macfadyen|Rosamund Pik...,Joe Wright,A romance ahead of its time.,Pride and Prejudice is a humorous story of lov...,128,...,2005-09-16,749,7.6,2005,93147947,9,17,2,"[Pride, Prejudice]","[Pride, &, Prejudice]"
1345,tt0356910,1.330824,110000000,478207520,Mr. & Mrs. Smith,Angelina Jolie|Brad Pitt|Vince Vaughn|Adam Bro...,Doug Liman,Smart and sexy.,After five (or six) years of vanilla-wedded bl...,120,...,2005-06-07,1750,6.5,2005,368207520,6,16,3,"[Mr, Mrs, Smith]","[Mr., &, Mrs., Smith]"
1396,tt0384642,0.663861,45000000,56070433,Kicking & Screaming,Will Ferrell|Robert Duvall|Kate Walsh|Musetta ...,Jesse Dylan,One man could lead this team to glory. . . Tha...,Phil Weston has been unathletic his entire lif...,95,...,2005-05-13,102,5.8,2005,11070433,5,19,2,"[Kicking, Screaming]","[Kicking, &, Screaming]"
1423,tt0443295,0.405822,45000000,72028752,"Yours, Mine & Ours",Dennis Quaid|Rene Russo|Sean Faris|Katija Peve...,Raja Gosnell,"18 kids, one house, no way.",Admiral Frank Beardsley returns to New London ...,90,...,2005-11-23,144,5.7,2005,27028752,11,18,3,"[Yours, Mine, Ours]","[Yours,, Mine, &, Ours]"
1424,tt0410097,0.378070,8000000,22201636,Hustle & Flow,Terrence Howard|Anthony Anderson|Taryn Manning...,Craig Brewer,The music will inspire them. The dream will un...,"With help from his friends, a Memphis pimp in ...",116,...,2005-07-22,50,6.2,2005,14201636,7,13,2,"[Hustle, Flow]","[Hustle, &, Flow]"
1480,tt0375154,1.109411,31000000,28000000,Tristan & Isolde,James Franco|Sophia Myles|Rufus Sewell|David O...,Kevin Reynolds,Fighting countries can still love...,An affair between the second in line to Britai...,125,...,2006-04-07,123,6.2,2006,-3000000,4,16,2,"[Tristan, Isolde]","[Tristan, &, Isolde]"
1603,tt0366551,1.318761,9000000,23936908,Harold & Kumar Go to White Castle,John Cho|Kal Penn|Paula GarcÃ©s|Neil Patrick H...,Danny Leiner,Fast Food. High Times.,"Sometimes, it takes a strange night to put eve...",88,...,2004-05-30,414,6.4,2004,14936908,5,33,6,"[Harold, Kumar, Go, to, White, Castle]","[Harold, &, Kumar, Go, to, White, Castle]"
1636,tt0335438,0.679997,60000000,170268750,Starsky & Hutch,Ben Stiller|Owen Wilson|Snoop Dogg|Fred Willia...,Todd Phillips,They're the man.,"Join uptight David Starsky and laid-back Ken ""...",101,...,2004-03-05,368,5.5,2004,110268750,3,15,2,"[Starsky, Hutch]","[Starsky, &, Hutch]"
1722,tt0762107,1.097810,85000000,186072214,I Now Pronounce You Chuck & Larry,Adam Sandler|Kevin James|Jessica Biel|Dan Aykr...,Dennis Dugan,"They're as straight as can be, but don't tell ...",Firefighters Chuck Ford and Larry Valentine ar...,115,...,2007-07-12,368,5.9,2007,101072214,7,33,6,"[I, Now, Pronounce, You, Chuck, Larry]","[I, Now, Pronounce, You, Chuck, &, Larry]"
1842,tt0183505,0.783530,51000000,149270999,"Me, Myself & Irene",Jim Carrey|RenÃ©e Zellweger|Anthony Anderson|R...,Peter Farrelly|Bobby Farrelly,From gentle to mental.,Rhode Island State Trooper Charlie Baileygates...,116,...,2000-06-22,521,5.9,2000,98270999,6,18,3,"[Me, Myself, Irene]","[Me,, Myself, &, Irene]"
1878,tt0199725,0.324003,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,...,2000-04-21,54,7.3,2000,7728118,4,17,2,"[Love, Basketball]","[Love, &, Basketball]"
1881,tt0190374,0.284476,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,...,2000-12-08,86,3.9,2000,-19814759,12,18,2,"[Dungeons, Dragons]","[Dungeons, &, Dragons]"
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,...,2000-06-30,35,4.0,2000,-40865180,6,36,5,"[The, Adventures, of, Rocky, Bullwinkle]","[The, Adventures, of, Rocky, &, Bullwinkle]"

In [126]:
data[data.index == 10]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,release_date,vote_count,vote_average,release_year,profit,release_month,length_title,word_count_title,word_title,word_title2
10,tt2379713,6.200282,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,Sam Mendes,A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,...,2015-10-26,3254,6.2,2015,635674609,10,7,1,[Spectre],[Spectre]

In [155]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

# Ответы на вопросы

## 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
data[data.budget == data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,2010-12-02,74,6.4,2010,-413912431

In [26]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [29]:
data[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [30]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [31]:
data[data.runtime == data.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [ ]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [37]:
print(round(data.runtime.mean()))

110

In [ ]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [38]:
print(round(data.runtime.median()))

106

In [ ]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [44]:
data[data.profit == data.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [ ]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [45]:
data[data.profit == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [ ]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [48]:
len(data[data.profit > 0])

1478

In [ ]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [66]:
data[data.release_year == 2008].sort_values('profit', ascending = False).head(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8432,8.1,2008,816921825

In [ ]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [8]:
data.query('2012 <= release_year <= 2014').sort_values('profit').head(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,1607,6.0,2013,-165710090

In [ ]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [82]:
print('Action', len(data[data.genres.str.contains('Action', na = False)]))
print('Adventure', len(data[data.genres.str.contains('Adventure', na = False)]))
print('Drama', len(data[data.genres.str.contains('Drama', na = False)]))
print('Comedy', len(data[data.genres.str.contains('Comedy', na = False)]))
print('Thriller', len(data[data.genres.str.contains('Thriller', na = False)]))

Action 583
Adventure 416
Drama 782
Comedy 683
Thriller 597

In [ ]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [27]:
data_profit = data[data.profit > 0]
genres = 'Drama, Comedy, Action, Thriller, Adventure'.split(', ')

def genres_count(df, genre):
    count = len(df[df['genres'].str.contains(genre, na = False)])
    return print(genre, count)

for genre in genres:
    genres_count(data_profit, genre)

Drama 560
Comedy 551
Action 444
Thriller 446
Adventure 337

In [ ]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [33]:
data.director.describe(include = ['O'])

count                  1890
unique                  958
top       Steven Soderbergh
freq                     13
Name: director, dtype: object

In [ ]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [32]:
data_profit.director.describe(include = ['O'])

count             1478
unique             774
top       Ridley Scott
freq                12
Name: director, dtype: object

In [ ]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [47]:
data[data['director'].isin(['Steven Spielberg', 'Christopher Nolan', \
                            'David Yates', 'James Cameron', \
                            'Peter Jackson'])].groupby('director').agg('sum')\
.sort_values('profit', ascending = False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
director,,,,,,,,
Peter Jackson,45.679675,1288000000,6490593685,1355,31197,58.1,16059,5202593685
David Yates,20.506537,775000000,4154295625,567,13819,29.6,8037,3379295625
Christopher Nolan,61.560756,1005000000,4167548502,1135,41561,61.1,16057,3162548502
James Cameron,9.686149,250000000,2798546718,254,8481,13.8,4012,2548546718
Steven Spielberg,23.081698,937000000,3386700791,1356,12990,66.9,20064,2449700791

In [ ]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [78]:
data[data.cast.str.contains('Emma Watson', na = False)]
actors = 'Emma Watson, Johnny Depp, Michelle Rodriguez, Orlando Bloom, Rupert Grint'\
.split(', ')

def actor_profit(df, actor):
    profit = df[df.cast.str.contains(actor, na = False)].profit.sum()
    return print(profit, actor)


for actor in actors:
    actor_profit(data, actor)

6666245597 Emma Watson
4776417000 Johnny Depp
4608031235 Michelle Rodriguez
5148578162 Orlando Bloom
6408638290 Rupert Grint

In [ ]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [119]:
actors = 'Nicolas Cage, Danny Huston, Kirsten Dunst, Jim Sturgess, Sami Gayle'\
.split(', ')

def actor_profit_2012(df, actor):
    profit = df[(df.cast.str.contains(actor, na = False)) &\
               (df.release_year == 2012)].profit.sum()
    return print(profit, actor)

for actor in actors:
    actor_profit_2012(data, actor)

-32893443 Nicolas Cage
-32893443 Danny Huston
-68109207 Kirsten Dunst
-23410657 Jim Sturgess
-32893443 Sami Gayle

In [ ]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [122]:
actors = 'Tom Cruise, Mark Wahlberg, Matt Damon, Angelina Jolie, Adam Sandler'\
.split(', ')
actors_profit = []

def actor_high_budget(df, actor):
    count = len(df[(df.cast.str.contains(actor, na = False)) &\
               (df.budget > df.budget.mean())])
    return print(count, actor)

for actor in actors:
    actor_high_budget(data, actor)

15 Tom Cruise
14 Mark Wahlberg
18 Matt Damon
16 Angelina Jolie
17 Adam Sandler

In [ ]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [127]:
genres = 'Drama, Action, Thriller, Adventure, Crime'.split(', ')

def genre_Cage(df, genre):
    count = len(df[(df.cast.str.contains('Nicolas Cage', na = False)) &\
                  (df.genres.str.contains(genre, na = False))])
    return print(count, genre)


for genre in genres:
    genre_Cage(data, genre)

12 Drama
17 Action
15 Thriller
7 Adventure
10 Crime

In [ ]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [142]:
studios = ["Universal",
          "Paramount Pictures",
           "Columbia Pictures",
           "Warner Bros",
           "Twentieth Century Fox Film Corporation"
          ]

def count_studio(df, studio):
    count = len(df[df.production_companies.str.contains(studio, na = False)])
    print(count, studio)


for studio in studios:
    count_studio(data, studio)

185 Universal
122 Paramount Pictures
163 Columbia Pictures
183 Warner Bros
109 Twentieth Century Fox Film Corporation

In [ ]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [143]:
studios = ["Universal Pictures",
          "Paramount Pictures",
           "Columbia Pictures",
           "Warner Bros",
           "Twentieth Century Fox Film Corporation"
          ]

def studios_2015(df, studio):
    count = len(df[(df.production_companies.str.contains(studio, na = False)) \
              & (df.release_year == 2015)])
    return print(count, studio)


for studio in studios:
    studios_2015(data, studio)

11 Universal Pictures
7 Paramount Pictures
7 Columbia Pictures
12 Warner Bros
8 Twentieth Century Fox Film Corporation

In [ ]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [148]:
studios = ["Universal",
          "Paramount Pictures",
           "Columbia Pictures",
           "Warner Bros",
           "Walt Disney"
          ]

def studio_comedy_profit(df, studio):
    profit = df[(df.production_companies.str.contains(studio, na = False))\
               & (df.genres.str.contains('Comedy', na = False))].profit.sum()
    return print(profit/10**6, studio)


for studio in studios:
    studio_comedy_profit(data, studio)

9130.349034 Universal
3055.625722 Paramount Pictures
7161.805266 Columbia Pictures
4370.928916 Warner Bros
7975.933215 Walt Disney

In [ ]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [149]:
studios = ["Universal",
          "Paramount Pictures",
           "Columbia Pictures",
           "Warner Bros",
           "Lucasfilm"
          ]

def studio_profit_2012(df, studio):
    profit = df[(df.production_companies.str.contains(studio, na = False))\
               & (df.release_year == 2012)].profit.sum()
    return print(profit/10**6, studio)


for studio in studios:
    studio_profit_2012(data, studio)

1981.011579 Universal
410.726715 Paramount Pictures
2501.406608 Columbia Pictures
1258.020056 Warner Bros
-7.634623 Lucasfilm

In [ ]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [157]:
data[data.production_companies.str.contains("Paramount Pictures", na = False)]\
.sort_values('profit').head(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,146,6.0,2002,-64831034

In [ ]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [160]:
data[data['release_year'].isin([2014, 2008, 2012, 2002, 2015])]\
.groupby('release_year').agg('sum').sort_values('profit', ascending = False)

,popularity,budget,revenue,runtime,vote_count,vote_average,profit
release_year,,,,,,,
2015,412.757717,6780630004,25449202382,13355,143377,755.2,18668572378
2014,374.517350,7008050000,23405862953,13444,155491,774.5,16397812953
2012,194.340559,7002000000,23079001687,12145,150430,682.1,16077001687
2008,158.907759,6588900000,18252781990,12979,84574,731.1,11663881990
2002,127.017597,5134000000,14136361487,11528,54743,653.1,9002361487

In [ ]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [165]:
data[(data['release_year'].isin([2014, 2008, 2012, 2010, 2015])) & 
      (data.production_companies.str.contains('Warner Bros', na = False))]\
.groupby('release_year').agg('sum').sort_values('profit', ascending = False)

,popularity,budget,revenue,runtime,vote_count,vote_average,profit
release_year,,,,,,,
2014,63.903623,947600000,3243064519,1576,24855,88.9,2295464519
2008,23.986384,916000000,3050595031,1366,17455,72.0,2134595031
2010,26.441327,1034000000,3008712985,1421,20286,79.6,1974712985
2012,12.593044,611500000,1869520056,579,11729,30.0,1258020056
2015,30.133961,820800003,1691168351,1358,11574,75.9,870368348

In [ ]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [190]:
data[data.release_month.isin([1, 5, 6, 9, 12])].groupby(by = 'release_month')\
['imdb_id'].count()

release_month
1     110
5     140
6     147
9     227
12    191
Name: imdb_id, dtype: int64

In [ ]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [192]:
len(data[data.release_month.isin([6, 7, 8])])

450

In [ ]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [195]:
directors = ["Steven Soderbergh",
             "Christopher Nolan",
             "Clint Eastwood",
             "Ridley Scott",
             "Peter Jackson"
            ]

def winter_director(df, director):
    count = len(df[(df.release_month.isin([10, 11, 12])) &\
                  (df.director == director)])
    return print(count, director)


for director in directors:
    winter_director(data, director)

5 Steven Soderbergh
3 Christopher Nolan
9 Clint Eastwood
5 Ridley Scott
8 Peter Jackson

In [ ]:
answer_ls.append(3)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [198]:
data[data.release_month.isin([1, 5, 6, 9, 12])].groupby('release_month')\
.agg('sum').sort_values('profit', ascending = False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
release_month,,,,,,,,
6,284.103375,11871700000,39422962500,16092,171386,893.6,295091,27551262500
12,336.434496,12222800000,38785871474,23048,173700,1212.8,383400,26563071474
5,286.094123,11358600531,36398116672,15927,163287,883.1,281139,25039516141
9,270.547870,7309800000,18188721041,24652,124971,1433.2,455925,10878921041
1,151.252935,3923500000,9320385454,11292,63453,642.3,220988,5396885454

In [ ]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [238]:
studios = ["Universal",
           "Warner Bros",
           "Jim Henson Company, The",
           "Paramount Pictures",
           "Four By Two Productions"]

def mean_length_titles(df, studio):
    length = df[df['production_companies'].str.contains(studio, na = False)]\
    .length_title.mean()
    return print(round(length, 2), studio)


for studio in studios:
    mean_length_titles(data, studio)

14.76 Universal
15.25 Warner Bros
59.0 Jim Henson Company, The
17.03 Paramount Pictures
83.0 Four By Two Productions

In [ ]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [280]:
studios = ["Universal",
           "Warner Bros",
           "Jim Henson Company, The",
           "Paramount Pictures",
           "Four By Two Productions"]

def mean_word_count_titles(df, studio):
    word_count = df[df['production_companies'].str.contains(studio, na = False)]\
    .word_count_title.mean()
    return print(round(word_count, 2), studio)


for studio in studios:
    mean_word_count_titles(data, studio)

2.66 Universal
2.8 Warner Bros
10.0 Jim Henson Company, The
2.86 Paramount Pictures
12.0 Four By Two Productions

In [ ]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [153]:
title_word_list = pd.DataFrame(columns = ['word'])

for i in data['word_title']:
    word = pd.concat([pd.DataFrame([k], columns = ['word']) for k in i],
                    ignore_index = True)
    title_word_list = pd.concat([title_word_list, word], ignore_index = True)

title_word_list.word = word_list.word.apply(lambda x: str(x).lower())

display('all', title_word_list.word.nunique())
display('D', title_word_list[title_word_list.word.str.contains('\D')].nunique())
display('d', title_word_list[title_word_list.word.str.contains('\d')].nunique())

'all'

2331

'D'

word    2284
dtype: int64

'd'

word    52
dtype: int64

In [112]:
title_word_list = pd.DataFrame(columns = ['word'])

for i in data['word_title2']:
    word = pd.concat([pd.DataFrame([k], columns = ['word']) for k in i],
                    ignore_index = True)
    title_word_list = pd.concat([title_word_list, word], ignore_index = True)

title_word_list.word = word_list.word.apply(lambda x: str(x).lower())

display('all', title_word_list.word.nunique())
display('D', title_word_list[title_word_list.word.str.contains('\D')].nunique())
display('d', title_word_list[title_word_list.word.str.contains('\d')].nunique())

'all'

2325

'D'

word    2279
dtype: int64

'd'

word    51
dtype: int64

In [108]:
test = pd.DataFrame({'col': "hi:,7,8,kek,lol,6,5,4,3,3,hi,hi,11,lol,11,pop,pop".split(',')})
test

    col
0   hi:
1     7
2     8
3   kek
4   lol
5     6
6     5
7     4
8     3
9     3
10   hi
11   hi
12   11
13  lol
14   11
15  pop
16  pop

In [109]:
display('all', test.col.nunique())
display('digital', test[test.col.str.contains('\d')].nunique())
display('not digital', test[test.col.str.contains('\D')].nunique())

'all'

12

'digital'

col    7
dtype: int64

'not digital'

col    5
dtype: int64

In [ ]:
answer_ls.append(1)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [ ]:
answer_ls.append(1)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
answer_ls.append(1)

# Submission

In [6]:
len(answer_ls)

0

In [5]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []