In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from itertools import combinations
from scipy.stats import ttest_ind

pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)

In [2]:
df = pd.read_csv('main_task.csv')

In [3]:
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414
39996,id_6340,Paris,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615
39998,id_640,Warsaw,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838
39999,id_4824,Milan,['Spanish'],4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020

In [8]:
nan_df = pd.DataFrame(df.isna().sum(), columns=['NaN'])
nan_df

                     NaN
Restaurant_id          0
City                   0
Cuisine Style       9283
Ranking                0
Rating                 0
Price Range        13886
Number of Reviews   2543
Reviews                0
URL_TA                 0
ID_TA                  0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [107]:
df.URL_TA[2]

'/Restaurant_Review-g186338-d8632781-Reviews-ROKA_Mayfair-London_England.html'

In [26]:
df['Number of Reviews'][4]

84.0

In [ ]:
df['Cuisine Style'][4]

In [56]:
import requests
from bs4 import BeautifulSoup as BS
def get_distance(*urls):
    cuisines = []
    base = 'https://www.tripadvisor.com{}'
    
    for url in urls:
        url = base.format(url)
        soup = BS(requests.get(url).text, 'html.parser')
        cuisin = soup.find('div', attrs={'class' : '_1XLfiSsv'})
        money = soup.find('span', attrs={'class' : '_13OzAOXO _34GKdBMV'}).find('a').text
    cuisines.append(cuisin)
    print(money)
    return cuisines

In [55]:
get_distance('/Restaurant_Review-g187147-d1912643-Reviews-R_Yves-Paris_Ile_de_France.html')

TypeError: 'NoneType' object is not callable

In [21]:
df['Price Range'].value_counts()

$$ - $$$    18412
$            6279
$$$$         1423
Name: Price Range, dtype: int64

In [109]:
df['Price Range'][2]

'$$$$'

In [105]:
import requests
from bs4 import BeautifulSoup as BS
def get_info(*urls):
    cuisines = []
    base = 'https://www.tripadvisor.com{}'
    
    for url in urls:
        url = base.format(url)
        soup = BS(requests.get(url).text, 'html.parser')
        cuisin = soup.find_all('div', attrs={'class' : '_14zKtJkz'})
        money = soup.find('span', attrs={'class' : '_13OzAOXO _34GKdBMV'}).find('a').text
        num = 0
        num_2 = 0
        for result in cuisin:
            if result.text == 'CUISINES':
                break
            else:
                num = +1
        for result in cuisin:
            if result.text == 'Special Diets':
                break
            else:
                num_2 = +1
    cuisines.append(cuisin)
    print(len(cuisin))
    print(num)
    print(num_2)
    print(money)
    return cuisines

In [96]:
get_info('/Restaurant_Review-g187309-d6864963-Reviews-Augustiner_Schutzengarten-Munich_Upper_Bavaria_Bavaria.html')

3
0
1
$$ - $$$

[[<div class="_14zKtJkz">CUISINES</div>,
  <div class="_14zKtJkz">Special Diets</div>,
  <div class="_14zKtJkz">Meals</div>]]

In [106]:
get_info('/Restaurant_Review-g187147-d1912643-Reviews-R_Yves-Paris_Ile_de_France.html')

3
1
1
$$ - $$$

[[<div class="_14zKtJkz">PRICE RANGE</div>,
  <div class="_14zKtJkz">CUISINES</div>,
  <div class="_14zKtJkz">Meals</div>]]

In [108]:
get_info('/Restaurant_Review-g186338-d8632781-Reviews-ROKA_Mayfair-London_England.html')

0
0
0
$$$$

[[]]

In [111]:
kek = pd.DataFrame({'kek': [1,2,3,4,5,6,7], 'lol': [7,6,5,4,3,2,1]})

In [113]:
kek

   kek  lol
0    1    7
1    2    6
2    3    5
3    4    4
4    5    3
5    6    2
6    7    1

In [117]:
kek1 = kek.iloc[:4, :]
kek2 = kek.iloc[4:, :]

In [118]:
kek1

   kek  lol
0    1    7
1    2    6
2    3    5
3    4    4

In [119]:
kek2

   kek  lol
4    5    3
5    6    2
6    7    1

In [120]:
kek3 = kek.iloc[2:4, :]

In [121]:
kek3

   kek  lol
2    3    5
3    4    4

In [223]:
df1 = df.iloc[:4, :]

In [123]:
df1

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776

In [177]:
def get_new_info(*urls):
    cuisines = []
    base = 'https://www.tripadvisor.com{}'
    
    for url in urls:
        url = base.format(url)
        soup = BS(requests.get(url).text, 'html.parser')
        cuisin = soup.find_all('div', attrs={'class' : '_14zKtJkz'})
        money = soup.find('span', attrs={'class' : '_13OzAOXO _34GKdBMV'}).find('a').text
        num = 0
        num_2 = 0
        for result in cuisin:
            if result.text == 'CUISINES':
                break
            else:
                num = +1
        cuisin_true = soup.find_all('div', attrs={'class' : '_1XLfiSsv'})[num].text
        for result in cuisin:
            if result.text == 'Special Diets':
                break
            else:
                num_2 = +1
        cuisin_diet = soup.find_all('div', attrs={'class' : '_1XLfiSsv'})[num_2].text
    cuisines.append(cuisin_true)
    if num != num_2:
        cuisines.append(cuisin_diet)
    return money, cuisines

In [178]:
get_new_info('/Restaurant_Review-g187147-d1912643-Reviews-R_Yves-Paris_Ile_de_France.html')

('$$ - $$$', ['French, European, International'])

In [165]:
get_new_info('/Restaurant_Review-g187309-d6864963-Reviews-Augustiner_Schutzengarten-Munich_Upper_Bavaria_Bavaria.html')

('$$ - $$$', ['German, Central European, European', 'Vegetarian Friendly'])

In [166]:
df1

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776

In [205]:
df1['new'] = df1['Price Range'].apply(lambda x: 1 if x is not None else 0)

/Users/bias/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [206]:
df1

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,new,new1
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,1,0
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,1,0
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,1,1
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,1,1

In [208]:
df1

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776

In [213]:
df1['new'] = df1['Price Range'].apply(lambda x: 1 if x is None else 0)

/Users/bias/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [225]:
df2 = pd.DataFrame()

In [237]:
df2['new'] = df1.apply(lambda x: get_new_info(x['URL_TA']) if pd.isnull(x['Price Range']) else None, axis=1)

IndexError: list index out of range

In [235]:
df1['new'] = df2['new']

/Users/bias/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [238]:
df1

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,new
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,None
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,/Restaurant_Review-g189852-d7992032-Reviews-Bu...
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,None
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,/Restaurant_Review-g187323-d1358776-Reviews-Es...

In [239]:
get_new_info(df1['URL_TA'][1])

IndexError: list index out of range

In [240]:
df1['URL_TA'][1]

'/Restaurant_Review-g189852-d7992032-Reviews-Buddha_Nepal-Stockholm.html'

In [241]:
def get_new_info(*urls):
    cuisines = []
    base = 'https://www.tripadvisor.com{}'
    
    for url in urls:
        url = base.format(url)
        soup = BS(requests.get(url).text, 'html.parser')
        cuisin = soup.find_all('div', attrs={'class' : '_14zKtJkz'})
        money = soup.find('span', attrs={'class' : '_13OzAOXO _34GKdBMV'}).find('a').text
        num = 0
        num_2 = 0
        for result in cuisin:
            if result.text == 'CUISINES':
                break
            else:
                num = +1
        cuisin_true = soup.find_all('div', attrs={'class' : '_1XLfiSsv'})[num].text
        for result in cuisin:
            if result.text == 'Special Diets':
                break
            else:
                num_2 = +1
        if num != num_2:
            cuisin_diet = soup.find_all('div', attrs={'class' : '_1XLfiSsv'})[num_2].text
    cuisines.append(cuisin_true)
    if num != num_2:
        cuisines.append(cuisin_diet)
    return money, cuisines

In [245]:
get_new_info(df1['URL_TA'][3])

AttributeError: 'NoneType' object has no attribute 'text'

In [246]:
df1['URL_TA'][3]

'/Restaurant_Review-g187323-d1358776-Reviews-Esplanade-Berlin.html'